prefer-no-csd
screenshot-path "~/Imagens/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    GDK_BACKEND "wayland,x11,*"

    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt5ct:qt6ct"
    QT_STYLE_OVERRIDE "kvantum"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    MOZ_ENABLE_WAYLAND "1"
    _JAVA_AWT_WM_NONREPARENTING "1"
    SDL_VIDEODRIVER "wayland,x11"

    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    DESKTOP_SESSION "niri"

    // XCURSOR_THEME "WhiteSur-cursors"
    // XCURSOR_SIZE "24"
}

cursor {
    // find /usr/share/icons ~/.icons ~/.local/share/icons \
    // -maxdepth 2 \
    // -type d \
    // \( -name "cursors" -o -path "*/cursors" \) \
    // 2>/dev/null | sed 's#/cursors##' | xargs -n1 basename | sort -u
    xcursor-theme "WhiteSur-cursors"
    xcursor-size 36
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}
